
@{
    ViewBag.Title = "Index";
}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class=content>
        <div class="content-header" style="margin-top: 20px; margin-bottom: 20px; display: flex; align-items: center;">
            <div class="header-icon" style="margin-right: 10px;">
                <i class="pe-7s-tools"></i>
            </div>
            <div class="header-title" style="flex-grow: 1;">
                <div class="ibox-title">
                    <h2><i class="fa fa-dashboard"></i>&nbsp;Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <div class=row>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="panel panel-bd lobidisable">
                            <div class="ibox-title">
                                <h4> Today's Registered</h4>
                            </div>
                            <div class=panel-body>
                                <i class="fa fa-users fa-3x pull-right"></i>
                                <div style="font-size:30px" id=Tday>  </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="panel panel-bd lobidisable">
                            <div class="ibox-title">
                                <h4>Total Registered</h4>
                            </div>
                            <div class=panel-body>
                                <i class="fa fa-users fa-3x pull-right"></i>
                                <div style="font-size:30px" id=Tlday></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class=row>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="panel panel-bd lobidisable">
                            <div class="ibox-title">
                                <h4>Today's Approved</h4>
                            </div>
                            <div class=panel-body>
                                <i class="fa fa-edit fa-3x pull-right"></i>
                                <div style="font-size:30px" id=Appday></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="panel panel-bd lobidisable">
                            <div class="ibox-title">
                                <h4>Total Approved </h4>
                            </div>
                            <div class=panel-body>
                                <div class="fa fa-edit fa-3x pull-right"></div>
                                <div style="font-size:30px" id=TAppday></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class=row>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-bd lobidrag">
                            <div class="ibox-title">
                                <h2><i class="fa fa-dollar"></i>&nbsp;Currency Rates </h2>

                            </div>
                            <div class=panel-body>
                                <div class=table-responsive>
                                    <table id="tblUsers" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="hidden">Id</th>
                                                <th>Currency</th>
                                                <th>Code</th>
                                                <th>Rate</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tblbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>









<script src="~/Assets/PagesJS/DashoBoard.js"></script>