
@{
    ViewBag.Title = "Index";
}



<style>
    .toggle {
        position: relative;
        display: inline-block;
        width: 40px; /* Reduced width */
        height: 20px; /* Reduced height */
    }

        .toggle input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 20px; /* Adjusted border-radius */
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px; /* Reduced height */
            width: 16px; /* Reduced width */
            left: 2px; /* Adjusted position */
            bottom: 2px; /* Adjusted position */
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        transform: translateX(20px); /* Adjusted translation */
    }
</style>



<div class="row">


    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group">
            <label>Country<span style="color:red">*</span></label>
            <select class="form-control chzn" id="Country_Id" required="required" name="Country_Id"></select>
        </div>
    </div><br />
    <div class="col-lg-6 col-md-6 col-sm-6">
        <input type="submit" id="btnsearch" name="btn-search" value="Search" class="btn btn-success pull-left btnsearch" />
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="bankDetailsModal" tabindex="-1" role="dialog" aria-labelledby="bankDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #263949; color: white; ">
                <h3 id="englishName" class="modal-title"></h3>
            </div>
            <div class="modal-body" style="max-height: 300px; overflow-y: auto; scrollbar-width: thin; scrollbar-color: #888 #f1f1f1;">
                <div id="bankDetailsContent">
                    <p><span class="label-style">Arabic Name:</span> <span class="bank_mst" id="arabicName"></span></p>
                    <p><span class="label-style">Short bank Name:</span> <span class="bank_mst" id="shortEnglishName"></span></p>
                    <p><span class="label-style">Short Arabic Name:</span> <span class="bank_mst" id="shortArabicName"></span></p>
                    <p><span class="label-style">Country Name:</span> <span class="bank_mst" id="countryId"></span></p>
                    <p><span class="label-style">Currency Name:</span> <span class="bank_mst" id="currencyId"></span></p>
                    <p><span class="label-style">Full Address:</span> <span class="bank_mst" id="addressLine1"></span></p>
                    <p><span class="label-style">Telephone Number:</span> <span class="bank_mst" id="telNumber"></span></p>
                    <p><span class="label-style">Fax Number:</span> <span class="bank_mst" id="faxNumber"></span></p>
                    <p><span class="label-style">Email Address:</span> <span class="bank_mst" id="emailAddress"></span></p>
                    <p><span class="label-style">Contact Person 1:</span> <span class="bank_mst" id="contactPerson1"></span></p>
                    <p><span class="label-style">Contact Title 1:</span> <span class="bank_mst" id="contactTitle1"></span></p>
                    <p><span class="label-style">Mobile Number 1:</span> <span class="bank_mst" id="mobileNumber1"></span></p>
                    <p><span class="label-style">Remarks:</span> <span class="bank_mst" id="remarks"></span></p>
                    <p><span class="label-style">HO Branch 1 ID:</span> <span class="bank_mst" id="hoBranch1Id"></span></p>
                    <p><span class="label-style">Bank Code:</span> <span class="bank_mst" id="bankCode"></span></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="setBankLimitsModal" tabindex="-1" role="dialog" aria-labelledby="setBankLimitsModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header" style="background-color: #263949; color: white;">
                <h3 class="modal-title" id="modalTitle"></h3>
            </div>

            <div class="modal-body" style="max-height: 300px; overflow-y: auto; scrollbar-width: thin; scrollbar-color: #888 #f1f1f1;">
                <div id="bankDetailsContent">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row hidden">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>UID<span style="color:red;">*</span></label>
                                        <input type="text" id="UID" class="form-control" name="UID">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Amount Limit<span style="color:red;">*</span></label>
                                <small><span class="text-danger required-text" id="ValAmountLimit"></span></small>
                                <input type="Number" id="AmountLimit" placeholder="Enter Amount Limit" class="form-control" name="AmountLimit">
                            </div>
                            <div class="form-group">
                                <label>Amount in Words:</label>
                                <div id="AmountInWords"></div>
                            </div>
                            <div class="form-group">
                                <label>Number of Transaction<span style="color:red;">*</span></label>
                                <small><span class="text-danger required-text" id="ValNumberofTransaction"></span></small>
                                <input type="Number" id="NumberofTransaction" placeholder="Enter Number of Transaction" class="form-control" name="NumberofTransaction" max="1000">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a id="btn-save" name="btn-save" class="btn btn-primary pull-right"><i class="fa fa-save"></i>&nbsp; Update</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<!-- CSS for label style -->
<style>
    .label-style {
        color: #263949;
        font-weight: bold;
    }
</style>

<!-- CSS for label style -->
<style>
    .label-style {
        color: #263949;
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2 style="display: inline-block;"><i class="fa fa-users"></i>&nbsp;Bank's List </h2>
                <button id="setLimitAllBanks" class="btn btn-primary" style="float: right; margin-top:5px;">Set Limit</button>
            </div>


            <div class="ibox ibox-content">

                <table id="tblbank" class="table table-striped table-bordered table-hover" style=" width: 100%;">
                    <thead>
                        <tr>
                            <th class="hidden">UID</th>
                            <th>Bank Name</th>
                            <th>Country</th>
                            <th>Currency</th>
                            <th>Amount Limit</th>
                            <th>Number Of Transaction</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tblbody"></tbody>
                </table>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a id="btn-sync" name="btn-sync" class="btn btn-primary pull-right"><i class="fa fa-reorder"></i>&nbsp; Synchronize Bank Data</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script src="~/Assets/PagesJS/banks.js"></script>

