
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h2 style="display: inline-block;"><i class="fa fa-users"></i>&nbsp;Beneficiary List </h2>
                <a id="addBeneficiaryBtn"  class="btn btn-primary" style="float: right; margin-top:5px;" >Add Beneficiary</a>
            </div>
            <div class="ibox ibox-content">
                <h2 style="text-align: center;">@ViewBag.UserName</h2>

                <table id="tblUsers" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="hidden">UID</th>
                            <th>Full Name</th>
                            <th>Customer Name</th>
                            <th>Birth Date</th>
                            <th>Address Line 3</th>
                            <th>Branch Address Line3</th>
                            <th>Country Name</th>
                            <th>Currency</th>
                            <th>Bank Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tblbody"></tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <a id="btn-sync" name="btn-sync" class="btn btn-primary pull-right"><i class="fa fa-reorder"></i>&nbsp; Synchronize Beneficiary Data</a>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Assets/PagesJS/Beneficiary.js"></script>





